@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    
}
.button{
    background-color: black;
    color: white;
    padding: 10px 40px 10px;   
    border: none;
}
.button:hover{
    background-color: white;
    color: black;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    text-align: center;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
 }
.dropdown-menu  .dropdown-item:hover{
   background-color: rgb(12, 12, 12);
   color: palevioletred;
   font-weight: 500;
   text-align: center;
}
.search{
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    transition: 0.5s;
   
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
  }
  .search.active{
    width: 360px;
  }
  .search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search .input{
    position: relative;
    width: 300px;
    height: 40px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search .input input{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;

  font-size: 18px;
  }
  .clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .clear::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
  }
  .clear::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
  }
  .box{
   position: relative;
   text-align: center;
  }
  .btn-1{
    padding: 8px 40px 8px;
    color: white;
    border: 2px solid wheat;
    background-color: black;
  }
  .btn-1:hover{
    padding: 8px 40px 8px;
    color: black;
    border: 2px solid wheat;
    background-color: white;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 100px;
    right: 100px;
    transition: transform 2s ease;
  }
  
  .img2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 50px;
    transition: transform 2s ease;
    left: 0px;
  }
  
  .img3 {
    position: absolute;
    z-index: 3;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 100px;
    left: 00px;
    transition: transform 2s ease;
  }
  .img4 {
    position: absolute;
    z-index: 4;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 150px;
    left: 00px;
    transition: transform 2s ease;
  }
  
  .img5 {
    position: absolute;
    z-index: 5;
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 200px;
    left: 00px;
    transition: transform 2s ease;
  }
  
  .work{
    font-family: 'Satisfy', cursive;
  }

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover {
  transform: translateY(-90px);
}

img {
  --c: #f8aada; /* the border color */
  --b: 2px;    /* the border thickness*/
  --g: 10px;     /* the gap on hover */
  
  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%,var(--c) 0;
  background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
     var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
     0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
}
img:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}
.flex-wrapper{
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
}