<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pryanka Glamour Forever</title>
    {% load static %}
    <link href="{% static 'css/ind.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{% static 'images/pgf.png' %}" />
    <!--css-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="navbar">
        <div class="site-info">
          <img                                  
            src="{% static 'images/pgf.png' %}"                             
            class="img-fluid"
            style="height: 5em; width: auto; padding: 0%"                              
          />
        </div>
        <div class="site-menu">
          <a href="{% url 'homepage' %}" style="color: white; text-decoration: none">
            <div class="menu-item">Home</div>
          </a>
          <a                   
            href="/html/aboutus.html"
            style="color: white; text-decoration: none"
          >
            <div class="menu-item">About</div>
          </a>
          <a
            href="{% url 'services' %}"
            style="color: white; text-decoration: none"
          >
            <div class="menu-item">Services</div>
          </a>
          <a
            href="{% url 'allblogs' %}"
            style="color: white; text-decoration: none"
          >
            <div class="menu-item">Blogs</div>
          </a>
          <a
            href="/html/portfolio.html"
            style="color: white; text-decoration: none"
          >
            <div class="menu-item">Portfolio</div>
          </a>
          <a
            href="{% url 'contact' %}"
            style="color: white; text-decoration: none"
          >
            <div class="menu-item">Contact</div>
          </a>
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <div class="block b-1 img-fluid"></div>
      <div class="block b-2 img-fluid"></div>
      <div class="block b-3 img-fluid"></div>
      <div class="block b-4 img-fluid"></div>
      <div class="block b-5 img-fluid"></div>
      <div class="block b-6 img-fluid"></div>
      <div class="block b-7 img-fluid"></div>
    </div>

    <div class="overlay"></div>
    <p class="title">Be Bold, Beautiful</p>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      var textWrapper = document.querySelector(".title");
      textWrapper.innerHTML = textWrapper.textContent.replace(
        /\S/g,
        "<span class='letter'>$&</span>"
      );
      anime.timeline().add({
        targets: ".title .letter",
        translateY: [300, 0],
        easing: "easeOutExpo",
        duration: 1400,
        delay: (el, i) => 6500 + 30 * i,
      });

      TweenMax.staggerFrom(
        ".container > .block",
        2,

        {
          y: "110%",
          ease: Expo.easeInOut,
          delay: 1,
        },
        1
      );

      TweenMax.to(".overlay", 0.5, {
        y: "100%",
        ease: Expo.easeInOut,
        delay: 5.8,
      });

      TweenMax.to(".container", 2, {
        scale: "1.2",
        y: "50%",
        ease: Expo.easeInOut,
        delay: 6.1,
      });

      TweenMax.staggerFrom(
        ".navbar > div",
        1.6,
        {
          opacity: 0,
          y: -100,
          ease: Expo.easeInOut,
          delay: 6.6,
        },
        0.08
      );

      TweenMax.staggerFrom(
        ".site-menu > div",
        1,
        {
          opacity: 0,
          y: -100,
          ease: Power2.easeOut,
          delay: 7.1,
        },
        0.1
      );
    </script>
  </body>
</html>