{% extends "website/homepage.html" %}
{% block content %}
{% load static %} 
<div class="container-fluid bg-light">
    <div class="container-fluid text-center mt-3">

      <h1>OUR SERVICVES</h1>
    </div>
    <br />
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-center">
          <br />
          <br />
          <h1>MakeUp</h1>
          <br />
          <h5>Matte Makeup</h5>
          <br />
          <h5>HD Makeup</h5>
          <br />
          <h5>Airbrush Makeup</h5>
          <br />
          <h5>Glass Makeup</h5>
          <br />
          
        </div>
        <div
          class="col-sm-6"
          style="
            background: url({% static 'images/2.jpg' %});
            background-attachment: fixed;
            background-position: center;
            height: 50vh;
          "
        ></div>
        <div
          class="col-sm-6"
          style="
            background: url({% static 'images/1.jpg' %});
            background-attachment: fixed;
            background-position: center;
            height: 50vh;
          "
        ></div>
        <div class="col-sm-6 text-center">
          <br />
          <br />
          <h1>Service-2</h1>
          <br />
          <h5>S2</h5>
          <br />
          <h5>S2</h5>
          <br />
          <h5>S2</h5>
          <br />
          <h5>S2</h5>
        </div>
        <div class="col-sm-6 text-center">
          <br />
          <br />
          <h1>Service-3</h1>
          <br />
          <h5>S3</h5>
          <br />
          <h5>S3</h5>
          <br />
          <h5>S3</h5>
          <br />
          <h5>S3</h5>
        </div>
        <div
          class="col-sm-6"
          style="
            background: url({% static 'images/1.jpg' %});
            background-attachment: fixed;
            background-position: center;
            height: 50vh;"
        ></div>
      </div>
    </div>
</div>

    

    <script src="/js/index.js"></script>
  </body>
</html>
{% endblock %}
