{% extends 'website/homepage.html' %}

{% block content %}
{% block body %}
{% endblock body %}
{% load static %}
<div id="searchres"></div>
{% if messages %}
<ul class="messages" style="display: none;">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }} alert alert-primary" {% endif %} id="messs">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<body style="background-image: url({% static 'images/3.jpg' %});">
  <div class="container text-center mx-auto mt-3">
    <h1 style="color: rgb(0, 0, 0);">Your Bookings</h1>
  </div>
  <div class="container-fluid mx-auto">
    <table class="table table-stripped-columns table-bordered text-center border-dark" style="color: rgb(0, 0, 0);">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Date</th>
          <th scope="col">Services</th>
          <th scope="col">Amount</th>

        </tr>
      </thead>
      <tbody>
        {% for booking in data %}
        <tr>
          <th scope="row">{{ booking.id }}</th>
          <td>{{booking.fname}}</td>
          <td>{{booking.address}}</td>
          <td>{{booking.phone}}</td>
          <td>{{booking.datentime }}</td>
          <td>{{booking.services }}</td>
          <td>Rs. {{booking.services.prices }}</td>


        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

  <script>
    var message = document.getElementById("messs").innerHTML
    alert(message)
  </script>
</body>
{% endblock %}